<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SRQ_Arrays_3_of_7/src/carlos/DeptList.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="carlos.DeptList"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SRQ_Arrays_3_of_7"/>
</launchConfiguration>
